*{
    font-family:fantasy;
}
.card:hover{
    animation: imgFilter1 2s forwards;
}
@keyframes imgFilter1 {
    from {
        border-width: initial;
        border-color: gray;
    }
    to {
        border-width: 20px;
        border-color: white;
    }
}
body{
    background:-webkit-linear-gradient(black, white)
}